@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  /* undone by tailwind */
  list-style: disc;
}

@media (prefers-color-scheme: light) {
  .shiki,
  .shiki span {
    color: var(--shiki-light) !important;
    background-color: var(--shiki-light-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-light-font-style) !important;
    font-weight: var(--shiki-light-font-weight) !important;
    text-decoration: var(--shiki-light-text-decoration) !important;
  }
  button code {
    /* otherwise it's white because of the button */
    color: var(--nc-tx-2);
  }
}
